<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>catalog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.js"></script>
    <script src="ctrl/catalogCtrl.js"></script>
</head>

<body ng-controller='catalogCtrl'>
    {{catalog[0]}}
    <div class="container">
        <div class="col-md-4 col-sm-6 text-center" ng-repeat="item in catalog track by $index" id="{{item.id}}" ng-click="showPopup()" ng-cloak>
            <img ng-src="img/{{item.img}}.jpg" alt="{{item.name}}">
            <h3>{{item.name}}</h3>
            <p>{{item.price | currency}}</p>
        </div>
    </div>

    <div class="popup-wrap" ng-show="popup.active" ng-click="hidePopup($event)">
        <div class="popup text-center">
            <div class="close">x</div>
            <img ng-src="img/{{popup.img}}.jpg" alt="{{popup.name}}">
            <h3>{{popup.name}}</h3>
            <h3>{{popup.price | currency}}</h3>
        </div>
    </div>

</body>

</html>
